<h1>Home#index</h1>
<p>Find Restaurants</p>

<%= link_to "Local Restaurants", restaurants_path %>


<ul>
	<% @terms.each do |search_term| %>
		<!-- creates a link for each search term, send a paramater of searchterm to restaurant#search action. -->
		<li><%= link_to(search_term.name, :controller => "restaurants", :action => "index", :searchterm => search_term.name)%></li>

	<% end %>
</ul
